// ==================================================
// ALIGNMENT
// ==================================================

$alignment: (
  'alignment': (
    property: vertical-align,
    class: align,
    values: (
      top: top,
      middle: middle,
      bottom: bottom
    )
  )
);

$utilities: map-merge($alignment, $utilities);
