@use 'sass:map';
@use 'variables' as *;

$utilities: map.merge(
  (
    'vertical-align': (
      property: vertical-align,
      class: align,
      values: top middle bottom
    )
  ),
  $utilities
);
