@use 'sass:map';
@use 'variables' as *;

$utilities: map.merge(
  (
    'border': (
      property: border,
      class: b,
      values: $borders
    ),
    'border-top': (
      property: border-top,
      class: b-t,
      values: $borders
    ),
    'border-bottom': (
      property: border-bottom,
      class: b-b,
      values: $borders
    ),
    'border-right': (
      property: border-right,
      class: b-r,
      values: $borders
    ),
    'border-left': (
      property: border-left,
      class: b-l,
      values: $borders
    )
  ),
  $utilities
);
