@use 'variables';

$utilities: (
  'border': (
    property: border,
    class: b,
    values: variables.$borders
  ),
  'border-top': (
    property: border-top,
    class: b-t,
    values: variables.$borders
  ),
  'border-bottom': (
    property: border-bottom,
    class: b-b,
    values: variables.$borders
  ),
  'border-right': (
    property: border-right,
    class: b-r,
    values: variables.$borders
  ),
  'border-left': (
    property: border-left,
    class: b-l,
    values: variables.$borders
  ),
  'border-top-bottom': (
    property: border-top border-bottom,
    class: b-y,
    values: variables.$borders
  ),
  'border-left-right': (
    property: border-left border-right,
    class: b-x,
    values: variables.$borders
  )
);
