// ----------------------------------------------------------------------------
// COLORS
// ----------------------------------------------------------------------------

$colors: (
  "text-color": (
    property: color,
    class: text,
    values: (
      white: white,
      black: black,
      light: $light-primary-text, // material variable
      dark: $dark-primary-text, // material variable
    )
  ),
  "bg-color": (
    property: background-color,
    class: bg,
    values: (
      white: white,
      black: black
    )
  ),
);

$utilities: map-merge(
  $colors,
  $utilities
);