// ==================================================
// COLORS
// ==================================================

$contrast-colors: (
  'text-color': (
    property: color,
    class: text,
    values: (
      white: white,
      black: black,
      light: $light-primary-text,
      dark: $dark-primary-text
    )
  ),
  'bg-color': (
    property: background-color,
    class: bg,
    values: (
      white: white,
      black: black,
      light: $light-primary-text,
      dark: $dark-primary-text
    )
  )
);

$utilities: map-merge($contrast-colors, $utilities);
