// ----------------------------------------------------------------------------
// COLORS
// ----------------------------------------------------------------------------

$colors: (
  "text-color": (
    property: color,
    class: text,
    values: (
      white: #fff,
      black: #000
    )
  ),
  "bg-color": (
    property: background-color,
    class: bg,
    values: (
      white: #fff,
      black: #000
    )
  ),
);

$utilities: map-merge(
  $colors,
  $utilities
);