@use 'sass:map';
@use 'variables' as *;

$utilities: map.merge(
  (
    'cursor': (
      property: cursor,
      class: cursor,
      values: default pointer text move copy not-allowed
    )
  ),
  $utilities
);
