@use 'sass:map';
@use 'variables' as *;

$utilities: map.merge(
  (
    'display': (
      property: display,
      class: d,
      values: block inline-block inline flex inline-flex none
    )
  ),
  $utilities
);
