// ==================================================
// Fonts
// ==================================================

$fonts: (
  'font-weight': (
    property: font-weight,
    class: f-w,
    values: $font-wieghts
  ),
  'font-size': (
    property: font-size,
    class: f-s,
    values: $font-sizes
  )
);

$utilities: map-merge($fonts, $utilities);
