@use 'sass:map';
@use 'variables' as *;

$utilities: map.merge(
  (
    'object-fit': (
      property: object-fit,
      class: object,
      values: contain cover fill none scale-down
    )
  ),
  $utilities
);
