$utilities: (
  'cursor': (
    property: cursor,
    class: cursor,
    values: default pointer text move copy not-allowed
  ),
  'user-select': (
    property: user-select,
    class: select,
    values: all auto none
  ),
  'pointer-events': (
    property: pointer-events,
    class: pointer-events,
    values: none auto,
  )
);
