// ----------------------------------------------------------------------------
// MATERIAL COLORS
// ----------------------------------------------------------------------------

$mat-colors: (
  red: $mat-red,
  pink: $mat-pink,
  purple: $mat-purple,
  deep-purple: $mat-deep-purple,
  indigo: $mat-indigo,
  blue: $mat-blue,
  light-blue: $mat-light-blue,
  cyan: $mat-cyan,
  teal: $mat-teal,
  green: $mat-green,
  light-green: $mat-light-green,
  lime: $mat-lime,
  yellow: $mat-yellow,
  amber: $mat-amber,
  orange: $mat-orange,
  deep-orange: $mat-deep-orange,
  brown: $mat-brown,
  grey: $mat-grey,
  blue-grey: $mat-blue-grey,
);

// Text Color
@each $name, $value in $mat-colors {
  @each $hue, $color in $value {
    @if ($hue != 'contrast') {
      #{'.text-' + $name + '-' + $hue} {
        color: $color !important;
      }
    }
  }
}

// Background Color
@each $name, $value in $mat-colors {
  @each $hue, $color in $value {
    @if ($hue != 'contrast') {
      #{'.bg-' + $name + '-' + $hue} {
        background-color: $color !important;
      }
    }
  }
}
