$utilities: (
  'overflow': (
    property: overflow,
    class: overflow,
    values: auto hidden visible scroll
  ),
  'overflow-x': (
    property: overflow-x,
    class: overflow-x,
    values: auto hidden visible scroll
  ),
  'overflow-y': (
    property: overflow-y,
    class: overflow-y,
    values: auto hidden visible scroll
  )
);
