@use 'sass:map';
@use 'variables' as *;

$utilities: map.merge(
  (
    'position': (
      property: position,
      class: '',
      values: static fixed absolute relative sticky
    )
  ),
  $utilities
);
