@use 'variables';

$utilities: (
  'width': (
    property: width,
    class: w,
    values: variables.$sizes
  ),
  'height': (
    property: height,
    class: h,
    values: variables.$sizes
  )
);
