// All Map
$utilities: () !default;

// Spacing
$spacer: 16px !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    4: $spacer * .25,
    8: $spacer * .5,
    16: $spacer,
    24: $spacer * 1.5,
    32: $spacer * 2,
    48: $spacer * 3
  ),
  $spacers
);
$negative-spacers: negativify-map($spacers) !default;

// Fonts
$font-wieghts: (
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900
);

$font-sizes: (
  0: 0,
  10: 10px,
  12: 12px,
  14: 14px,
  16: 16px,
  18: 18px,
  20: 20px
);

// Size
$size: (
  20: 20%,
  25: 25%,
  40: 40%,
  50: 50%,
  60: 60%,
  75: 75%,
  80: 80%,
  full: 100%,
  auto: auto
);

// Border radius
$radius-base: 4px !default;
$radius: (
  0: 0,
  4: $radius-base,
  8: $radius-base * 2,
  16: $radius-base * 4,
  24: $radius-base * 6,
  32: $radius-base * 8,
  full: 9999px
);

// Border width
$border-solid: (
  0: 0,
  1: 1px solid rgba(0, 0, 0, .12),
  2: 2px solid rgba(0, 0, 0, .12),
  3: 3px solid rgba(0, 0, 0, .12),
  4: 4px solid rgba(0, 0, 0, .12),
  5: 5px solid rgba(0, 0, 0, .12)
);
