@import "mat-colors";
// Helpers
@import "variables";
@import "colors";
@import "spacing";
@import "radius";
@import "icons";
@import "text";
@import "fonts";
@import "image";
@import "size";

// Generate Helpers
@each $key, $utility in $utilities {
  $values: map-get($utility, values);

  @each $class-modifier, $value in $values {
    $property: map-get($utility, property);
    $property-class-prefix: map-get($utility, class);

    .#{$property-class-prefix + '-' + $class-modifier} {
      #{$property}: $value !important;
    }
  }
}
