// ==================================================
// BADGE
// ==================================================

.badge {
  display: inline-block;
  min-width: 18px;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  color: #fff;
}
