// ==================================================
// MEDIA
// ==================================================

.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1;
}

.media-left {
  padding-right: 8px;
}

.media-right {
  padding-left: 8px;
}

.media-heading {
  margin-top: 0;
  margin-bottom: 4px;
}

.media-content {
  font-size: 12px;
}
