@mixin matero-header-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .matero-toolbar-button {
    &.mat-icon-button {
      &:hover {
        background-color: mat-color($background, hover);
      }
    }
  }

  .matero-branding-name {
    color: mat-color($foreground, text);
  }
}
