@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  .matero-toolbar {
    border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);
  }
}
