<mat-toolbar class="matero-toolbar">
  <button mat-icon-button (click)="toggleSidenav.emit()" *ngIf="!collapsed">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="matero-branding" *ngIf="showBranding">
    <img src="./assets/matero.png" class="matero-branding-logo-expanded" alt="">
    <span>MATERO</span>
  </div>
  <span fxFlex></span>
  <button mat-icon-button>
    <mat-icon>fullscreen</mat-icon>
  </button>
  <button mat-icon-button (click)="toggleNotificationSidenav.emit()">
    <mat-icon>notifications</mat-icon>
    <span class="notification-label bg-red-500">5</span>
  </button>
  <app-user></app-user>
</mat-toolbar>
