<mat-toolbar class="matero-toolbar">
  <button mat-icon-button (click)="toggleSidenav.emit()" *ngIf="!collapsed">
    <mat-icon>menu</mat-icon>
  </button>
  <span fxFlex></span>
  <button mat-icon-button>
    <mat-icon>fullscreen</mat-icon>
  </button>
  <button mat-icon-button (click)="toggleNotificationSidenav.emit()">
    <mat-icon>notifications</mat-icon>
    <span class="notification-label">5</span>
  </button>
  <button mat-icon-button>
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
