@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  .customizer-panel {
    color: mat.get-color-from-palette($foreground, text);
    background-color: mat.get-color-from-palette($background, dialog);
  }

  .customizer-panel-overlay {
    &.opened {
      background-color: mat.get-color-from-palette($foreground, divider);
    }
  }
}
