@import '~@angular/material/theming';

// Dark style
$primary: mat-palette($mat-pink, 700, 500, 900);
$accent: mat-palette($mat-blue-grey, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-dark-theme($primary, $accent, $warn);
$background: mat-color($theme, 'background');
$foreground: mat-color($theme, 'foreground');

.customizer-handle {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;

  [dir='rtl'] & {
    left: 30px;
    right: auto;
  }
}

.customizer-panel {
  position: fixed;
  top: 0;
  right: -320px;
  bottom: 0;
  z-index: 11;
  width: 320px;
  padding: 0 16px;
  box-sizing: border-box;
  background-color: #fff;
  transform: translateX(0);
  transition: transform $swift-ease-out-duration $swift-ease-out-timing-function;
  overflow: auto;

  &.opened {
    transform: translateX(-100%);
  }

  [dir='rtl'] & {
    left: -320px;
    right: auto;

    &.opened {
      transform: translateX(100%);
    }
  }

  .theme-dark & {
    color: mat-color($foreground, text);
    background-color: mat-color($background, background);
  }
}

.customizer-panel-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  transition-duration: $swift-ease-out-duration;
  transition-timing-function: $swift-ease-out-timing-function;
  transition-property: background-color, visibility;
  visibility: hidden;

  &.opened {
    background-color: rgba(0, 0, 0, .15);
    visibility: visible;
  }
}
