@use '../style/breakpoints';

.matero-sidebar-header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  width: var(--sidenav-width);
  height: var(--mat-toolbar-standard-height);
  padding: 0 0.5rem;
  overflow: hidden;

  @include breakpoints.bp-lt(small) {
    & {
      height: var(--mat-toolbar-mobile-height);
    }
  }

  // Remove redundant padding in the slide toggle
  mat-slide-toggle .mdc-label {
    display: none;
  }
}

.matero-sidebar-main {
  height: calc(100% - var(--mat-toolbar-standard-height));
  padding: 0 0.5rem;
  overflow: auto;
  scrollbar-width: none;

  @include breakpoints.bp-lt(small) {
    & {
      height: calc(100% - var(--mat-toolbar-mobile-height));
    }
  }
}
