<!-- Editable Cell -->
<ng-container *ngIf="cell.edit; else uneditTpl"></ng-container>

<!-- Uneditable Cell -->
<ng-template #uneditTpl>
  <div [ngSwitch]="cell.type">
    <!-- Tag -->
    <ng-container *ngSwitchCase="'tag'">
      <mat-chip-list *ngIf="cell.tag[cellValue]; else tagEmptyTpl">
        <mat-chip color="primary" [ngClass]="['bg-' + cell.tag[cellValue].color]">
          {{cell.tag[cellValue].text}}
        </mat-chip>
      </mat-chip-list>
      <ng-template #tagEmptyTpl>{{cellValue}}</ng-template>
    </ng-container>
    <!-- Image -->
    <ng-container *ngSwitchCase="'img'">
      <img class="img" [src]="cellValue" (click)="preview(cellValue)">
    </ng-container>
    <!-- Link -->
    <ng-container *ngSwitchCase="'link'">
      <a [href]="cellValue" target="_blank">{{cellValue}}</a>
    </ng-container>
    <!-- Buttons -->
    <ng-container *ngSwitchCase="'button'">
      <ng-container *ngFor="let btn of cell.buttons; index as i; last as isLast">
        <ng-container *ngIf="!btn.iif || btn.iif(data)">
          <button *ngIf="btn.pop; else btnDefaultTpl"
                  mat-icon-button
                  [color]="btn.color || 'primary'"
                  [matTooltip]="btn.tooltip"
                  (click)="confirm(btn.popTitle, btn.click, data)">
            <mat-icon class="icon-18">{{btn.icon}}</mat-icon>
          </button>
          <ng-template #btnDefaultTpl>
            <button mat-icon-button
                    [color]="btn.color || 'primary'"
                    [matTooltip]="btn.tooltip"
                    (click)="fnCall(btn.click, data)">
              <mat-icon class="icon-18">{{btn.icon}}</mat-icon>
            </button>
          </ng-template>
        </ng-container>
      </ng-container>
    </ng-container>
    <!-- Format -->
    <ng-container *ngSwitchCase="'format'">
      <span [innerHTML]="fnCall(cell.format, data) || '--'"></span>
    </ng-container>
    <!-- Number -->
    <ng-container *ngSwitchCase="'number'">
      <!-- {{(cellValue | number:'1.2-2') || '--'}} -->
      <!-- {{(cellValue | numberFixed) || '--'}} -->
    </ng-container>
    <!-- Currency -->
    <ng-container *ngSwitchCase="'currency'">
      <!-- {{(cellValue | currency:'¥') || '--'}} -->
      <!-- {{(cellValue | numberFixed | numberFormat:cell.type) || '--'}} -->
    </ng-container>
    <!-- Percent -->
    <ng-container *ngSwitchCase="'percent'">
      <!-- {{(cellValue | percent) || '--'}} -->
      <!-- {{(cellValue | numberFixed | numberFormat:cell.type) || '--'}} -->
    </ng-container>
    <!-- Default -->
    <ng-container *ngSwitchDefault>
      {{cellValue || '--'}}
    </ng-container>
  </div>
</ng-template>
