.matero-easy-table {
  position: relative;
  display: block;

  .mat-progress-bar {
    position: absolute;
    top: 0;
    z-index: 109;
  }

  .matero-easy-table-content {
    max-width: 100%;
    max-height: 80vh;
    overflow: auto;
  }

  .mat-header-cell,
  .mat-footer-cell,
  .mat-cell {
    min-width: 80px;
    padding: 0 10px;
    box-sizing: border-box;
  }

  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type,
  th.mat-header-cell:first-of-type {
    box-sizing: content-box;
  }

  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type,
  th.mat-header-cell:last-of-type {
    box-sizing: content-box;
  }

  .mat-table-sticky-left {
    border-right: 1px solid #e0e0e0;

    [dir='rtl'] & {
      border-right-width: 0;
      border-left: 1px solid #e0e0e0;
    }
  }

  .mat-table-sticky-right {
    border-left: 1px solid #e0e0e0;

    [dir='rtl'] & {
      border-left-width: 0;
      border-right: 1px solid #e0e0e0;
    }
  }

  .mat-paginator {
    border-top: 1px solid #e0e0e0;
  }

  .mat-cell img {
    width: 30px;
    border-radius: 4px;
    cursor: pointer;
  }

  // Fix checkbox height issue
  .mat-checkbox {
    display: flex;
  }
}
