{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss",
    "./node_modules/prettier-stylelint/config.js"
  ],
  "rules": {
    "no-descending-specificity": null,
    "no-empty-source": null,
    "number-leading-zero": "never",
    "selector-pseudo-element-no-unknown": [
        true,
        {
            "ignorePseudoElements": [
                "ng-deep"
            ]
        }
    ],
    "selector-type-no-unknown": null,
    "value-keyword-case": null
  }
}
