{
  "ignoreFiles": [
    "dist/**",
    "schematics/**"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss",
    "stylelint-config-recess-order"
  ],
  "rules": {
    "alpha-value-notation": null,
    "annotation-no-unknown": null,
    "at-rule-empty-line-before": null,
    "color-function-alias-notation": null,
    "color-function-notation": "legacy",
    "function-no-unknown": null,
    "media-query-no-invalid": null,
    "no-descending-specificity": null,
    "no-empty-source": null,
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": [
          "ng-deep"
        ]
      }
    ],
    "selector-class-pattern": null,
    "selector-type-no-unknown": null,
    "value-keyword-case": null,
    "scss/at-extend-no-missing-placeholder": null,
    "scss/comment-no-empty": null,
    "scss/operator-no-unspaced": null
  }
}
