{
  "ignoreFiles": [
    "dist/**",
    "schematics/**"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss",
    "stylelint-config-rational-order"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "alpha-value-notation": null,
    "at-rule-empty-line-before": null,
    "color-function-notation": "legacy",
    "function-no-unknown": null,
    "no-descending-specificity": null,
    "no-empty-source": null,
    "number-leading-zero": "never",
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": [
          "ng-deep"
        ]
      }
    ],
    "selector-type-no-unknown": null,
    "string-quotes": "single",
    "value-keyword-case": null,
    "scss/at-extend-no-missing-placeholder": null,
    "scss/comment-no-empty": null,
    "scss/operator-no-unspaced": null
  }
}
