.example-ripple-container {
  width: 300px;
  height: 300px;
  line-height: 300px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  border: 1px solid var(--mat-divider-color);
}

.example-ripple-form-field {
  margin: 0 12px;
}
