<div class="matero-container-wrap" [dir]="options.dir"
  [ngClass]="{'matero-sidenav-collapsed':options.sidebarCollapsed}">
  <!-- <ngx-loading-bar color="#009688"></ngx-loading-bar> -->

  <mat-sidenav-container class="matero-container" autosize>
    <mat-sidenav #sidenav mode="side" class="matero-sidenav" opened>
      <app-sidebar (toggleCollapsed)="toggleSidenavCollapsed()"></app-sidebar>
    </mat-sidenav>

    <mat-sidenav #notifications position="end" mode="over" opened="false">
      <app-notification></app-notification>
    </mat-sidenav>

    <mat-sidenav-content class="matero-content-wrap">
      <app-header (toggleSidenav)="sidenav.toggle()" (toggleNotificationSidenav)="notifications.toggle()"
        [collapsed]="options.sidebarCollapsed"></app-header>

      <div class="matero-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- Demo Purposes Only -->
  <!-- <app-options (messageEvent)="receiveOptions($event)"></app-options> -->
  <!-- /Demo Purposes Only -->
</div>
