<div class="matero-container-wrap" [dir]="options.dir"
  [ngClass]="{'matero-sidenav-collapsed':options.sidenavCollapsed}">
  <ng-progress></ng-progress>

  <mat-sidenav-container class="matero-container" autosize>
    <mat-sidenav #sidenav class="matero-sidenav" [mode]="isOver ? 'over' : 'side'" [opened]="!isOver">
      <app-sidebar (toggleCollapsed)="toggleCollapsed()" [showToggle]="!isOver"></app-sidebar>
    </mat-sidenav>

    <mat-sidenav #notifications position="end" mode="over" opened="false">
      <app-notification></app-notification>
    </mat-sidenav>

    <mat-sidenav-content class="matero-content">
      <app-header #header (toggleSidenav)="toggleSidenav()" (toggleNotificationSidenav)="notifications.toggle()"
        [collapsed]="options.sidenavCollapsed"></app-header>

      <div class="matero-content-inner">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- Demo Purposes Only -->
  <app-customizer></app-customizer>
</div>
