@function swift-ease-out($property) {
  // The Material default animation curves.
  $transition: $property $swift-ease-out-duration $swift-ease-out-timing-function;

  @return $transition;
}

@function fast-out-slow($property) {
  // The Material default animation curves.
  $transition: $property 225ms cubic-bezier(0.4, 0, 0.2, 1);

  @return $transition;
}
