// Configuration
@import 'functions';
@import 'variables';
@import 'mixins';

// Core styles of layout
@import 'core';

// Material color helpers
@import 'colors';

// Decorative widgets
@import 'widgets';

// Create admin theme
@mixin matero-admin-theme($theme) {
  @include matero-sidenav-theme($theme);
  @include matero-topnav-theme($theme);
  @include matero-toolbar-button-theme($theme);
}
