// Material Components Style Fix

.mat-card {
  margin-bottom: $gutter;
}

.mat-accordion {
  display: block;
  margin-bottom: $gutter;
}

.mat-list-base {
  position: relative;
}

// Form horizontal
.matero-form-horizontal {
  .mat-form-field {
    width: 100%;
  }
}
