<breadcrumb></breadcrumb>

<div fxLayout="row wrap" class="matero-row">
  <div [fxFlex.gt-sm]="50" [fxFlex]="100" class="matero-col">
    <mat-card>
      <mat-list>
        <mat-list-item>Item 1</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 2</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 3</mat-list-item>
      </mat-list>
    </mat-card>
  </div>
  <div [fxFlex.gt-sm]="50" [fxFlex]="100" class="matero-col">
    <mat-card>
      <mat-list>
        <mat-list-item>Item 1</mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>Item 2</mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>Item 3</mat-list-item>
      </mat-list>
    </mat-card>
  </div>
  <div [fxFlex.gt-sm]="50" [fxFlex]="100" class="matero-col">
    <mat-card>
      <mat-list fxLayout="row">
        <mat-list-item>Item 1</mat-list-item>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item>Item 2</mat-list-item>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item>Item 3</mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</div>