<page-header></page-header>

<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" fxFlex.gt-sm="50" class="matero-col">
    <mat-card>
      <mat-card-title>Data Source</mat-card-title>
      <div>
        <p>
          Most common case is showing data from backend
          API and with ng-select this is extremely simple since you can bind directly to
          observable when using angular <b> | async</b> pipe
        </p>
        <ng-select [items]="people$ | async" bindLabel="name" bindValue="id" autofocus
                   [(ngModel)]="selectedPersonId"
                   placeholder="select person">
        </ng-select>
        Selected: {{selectedPersonId}}
        <mat-divider class="m-y-16" inset></mat-divider>
        <p>
          You can also set array of objects as items input
        </p>
        <ng-select [items]="people" bindLabel="name" bindValue="id" [(ngModel)]="selectedPersonId2"
                   placeholder="select person">
        </ng-select>
        Selected: {{selectedPersonId2}}
        <mat-divider class="m-y-16" inset></mat-divider>
        <p>
          While array of objects is the most common items source, you may want to set simple array
          of strings,
          numbers, booleans
        </p>
        <ng-select [items]="simpleItems" [(ngModel)]="selectedSimpleItem">
        </ng-select>
        Selected: {{selectedSimpleItem | json}}
        <mat-divider class="m-y-16" inset></mat-divider>
        <p>
          If you have simple use case, you can omit items array and bind options directly in html
          using
          <b>ng-option</b> component.
        </p>
        <button type="button" mat-raised-button color="primary" (click)="toggleDisabled()"
                class="m-b-8">Toggle
          option[1] disabled</button>

        <ng-select [(ngModel)]="selectedCarId" placeholder="select car">
          <ng-option *ngFor="let car of cars" [value]="car.id" [disabled]="car.disabled">
            {{car.name}}</ng-option>
          <ng-option [value]="'custom'">Custom</ng-option>
        </ng-select>

        Selected car ID: {{selectedCarId | json}}
      </div>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="50" class="matero-col">
    <mat-card>
      <mat-card-title>Tags</mat-card-title>
      <div>
        <label>Default tags</label>

        <ng-select [items]="[]" [addTag]="true" [(ngModel)]="selectedCompany">
        </ng-select>

        <p>
          Selected value: {{selectedCompany | json}}
        </p>
        <mat-divider class="m-y-16" inset></mat-divider>

        <label>Custom tags</label>

        <ng-select [items]="companies" [addTag]="addTag" [hideSelected]="true" multiple="true"
                   bindLabel="name"
                   [(ngModel)]="selectedCompanyCustom">
        </ng-select>

        <p>
          Selected value: {{selectedCompanyCustom | json}}
        </p>

        <mat-divider class="m-y-16" inset></mat-divider>
        <label>Server side tags</label>

        <ng-select [items]="companies" [addTag]="addTagPromise" multiple="true" bindLabel="name"
                   [loading]="loading"
                   [(ngModel)]="selectedCompanyCustomPromise">

          <ng-template ng-tag-tmp let-search="searchTerm">
            <b>create new</b>: {{search}}
          </ng-template>
        </ng-select>

        <mat-divider class="m-y-16" inset></mat-divider>

        <label>Tagging without dropdown. Press enter to add item</label>

        <ng-select [items]="[]" [addTag]="true" [multiple]="true" [selectOnTab]="true"
                   [isOpen]="false">
        </ng-select>

      </div>
    </mat-card>
  </div>
</div>