.demo-sidenav-spacer {
  flex: 1;
}

.demo-sidenav-playlist {
  display: flex;
  flex-direction: column;
  width: 200px;

  .mat-mdc-button {
    width: 100%;
  }
}


.demo-sidenav-playlist-header {
  text-align: center;
}
