:host {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);

  .matero-navbar-top & {
    height: calc(100vh - 64px - 52px);
  }
}

.demo-sidenav-container {
  flex: 1;
}

.demo-sidenav-container-fixed {
  flex: none;
}

.demo-sidenav-app-name {
  margin: 0 8px;
}

.demo-sidenav-close {
  margin: 20px;
}

.demo-sidenav-filler {
  margin: 100px 20px;
}
