<page-header></page-header>

<mat-card class="p-0">
  <mat-tab-group>
    <mat-tab label="Typography">
      <mat-list>
        <mat-list-item><code>.mat-display-4</code></mat-list-item>
        <mat-list-item><code>.mat-display-3</code></mat-list-item>
        <mat-list-item><code>.mat-display-2</code></mat-list-item>
        <mat-list-item><code>.mat-display-1</code></mat-list-item>
        <mat-list-item><code>.mat-h1</code>, <code>.mat-headline</code></mat-list-item>
        <mat-list-item><code>.mat-h2</code>, <code>.mat-title</code></mat-list-item>
        <mat-list-item><code>.mat-h3</code>, <code>.mat-subheading-2</code></mat-list-item>
        <mat-list-item><code>.mat-h4</code>, <code>.mat-subheading-1</code></mat-list-item>
        <mat-list-item><code>.mat-body</code>, <code>.mat-body-1</code></mat-list-item>
        <mat-list-item><code>.mat-body-strong</code>, <code>.mat-body-2</code></mat-list-item>
        <mat-list-item><code>.mat-small</code>, <code>.mat-caption</code></mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Elevation">
      <mat-list>
        <mat-list-item *ngFor="let i of elevations"><code>.mat-elevation-z{{i+1}}</code></mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</mat-card>
