<app-breadcrumb></app-breadcrumb>

<button mat-button [matMenuTriggerFor]="level1">Animal index</button>

<mat-menu #level1="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="level2" [matMenuTriggerData]="{arr: [1,2,3]}">Vertebrates</button>
  <button mat-menu-item [matMenuTriggerFor]="level2" [matMenuTriggerData]="{arr: [1,2]}">Invertebrates</button>
</mat-menu>

<mat-menu #level2="matMenu">
  <ng-template matMenuContent let-arr="arr">
    <button mat-menu-item *ngFor="let item of arr" [matMenuTriggerFor]="level3">{{item}}</button>
  </ng-template>
</mat-menu>

<mat-menu #level3="matMenu">
  <button mat-menu-item [routerLink]="['/', 'dashboard']">Insects</button>
  <button mat-menu-item>Molluscs</button>
  <button mat-menu-item>Crustaceans</button>
  <button mat-menu-item>Corals</button>
  <button mat-menu-item>Arachnids</button>
  <button mat-menu-item>Velvet worms</button>
  <button mat-menu-item>Horseshoe crabs</button>
</mat-menu>

<p>
  Build this dynamically using json object
  <code>
    <pre>
        {{ '{' }}
          'main1': ['sub1', 'sub2'],
          'main2': ['sub1', 'sub2', 'sub3'],
        {{ '}' }}
      </pre>
  </code>
</p>

<button mat-button [matMenuTriggerFor]="main_menu">My menu</button>

<mat-menu #main_menu="matMenu">
  <ng-container *ngFor="let mainItem of objectKeys(menu)">
    <button mat-menu-item [matMenuTriggerFor]="sub_menu">{{ mainItem }}</button>
    <mat-menu #sub_menu="matMenu">
      <button *ngFor="let subItem of menu[mainItem]" mat-menu-item>{{ subItem }}</button>
    </mat-menu>
  </ng-container>
</mat-menu>
