@use '@angular/material' as mat;

[class^='col'] {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: mat.m2-get-color-from-palette(mat.$m2-red-palette, 100);
  border: 1px solid mat.m2-get-color-from-palette(mat.$m2-red-palette, 200);
}

.row + .row {
  margin-top: 1rem;
}
