// ----------------------------------------------------------------------------
// SPACING
// ----------------------------------------------------------------------------

// margin
@for $counter from 0 through 6 {
  .m-#{ $counter * 1 } {
    margin: ($counter*4px) !important;
  }

  .m-t-#{ $counter * 1 } {
    margin-top: ($counter*4px) !important;
  }

  .m-r-#{ $counter * 1 } {
    margin-right: ($counter*4px) !important;
  }

  .m-b-#{ $counter * 1 } {
    margin-bottom: ($counter*4px) !important;
  }

  .m-l-#{ $counter * 1 } {
    margin-left: ($counter*4px) !important;
  }
}

// margin negtive
@for $counter from 1 through 6 {
  .m-t--#{ $counter * 1 } {
    margin-top: (-$counter*4px) !important;
  }

  .m-r--#{ $counter * 1 } {
    margin-right: (-$counter*4px) !important;
  }

  .m-b--#{ $counter * 1 } {
    margin-bottom: (-$counter*4px) !important;
  }

  .m-l--#{ $counter * 1 } {
    margin-left: (-$counter*4px) !important;
  }
}

.m-auto {
  margin: 0 auto !important;
}

// padding
@for $counter from 0 through 6 {
  .p-#{ $counter * 1 } {
    padding: ($counter*4px) !important;
  }

  .p-t-#{ $counter * 1 } {
    padding-top: ($counter*4px) !important;
  }

  .p-r-#{ $counter * 1 } {
    padding-right: ($counter*4px) !important;
  }

  .p-b-#{ $counter * 1 } {
    padding-bottom: ($counter*4px) !important;
  }

  .p-l-#{ $counter * 1 } {
    padding-left: ($counter*4px) !important;
  }
}
