<a class="matero-user" href="javascript:void(0)" [matMenuTriggerFor]="menu">
  <img class="matero-user-avatar" src="assets/images/avatar.jpg" alt="">
  <span class="matero-user-name">Zongbin</span>
</a>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <button mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
