.user-wrap {
  display: inline-block;
  padding: 0 8px;
  color: #333;
  font-size: 14px;
  border-radius: 4px;

  &:hover {
    background-color: rgba(0, 0, 0, .05);
  }
}

.user-avatar {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  vertical-align: middle;
}

.user-name {
  margin-left: 8px;
  vertical-align: middle;
}
