<app-breadcrumb></app-breadcrumb>

<div class="matero-row" fxLayout="row wrap">
  <div class="matero-col" [fxFlex.gt-sm]="25" [fxFlex.gt-xs]="50" [fxFlex]="100">
    <mat-card class="bg-indigo-500 text-white">
      <mat-card-title>
        <small class="text-muted">Total Sales</small>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">1</h3>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matero-col" [fxFlex.gt-sm]="25" [fxFlex.gt-xs]="50" [fxFlex]="100">
    <mat-card class="bg-blue-500 text-white">
      <mat-card-title>
        <small class="text-muted">Revenue</small>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">2</h3>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matero-col" [fxFlex.gt-sm]="25" [fxFlex.gt-xs]="50" [fxFlex]="100">
    <mat-card class="bg-green-500 text-white">
      <mat-card-title>
        <small class="text-muted">Traffic</small>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">3</h3>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matero-col" [fxFlex.gt-sm]="25" [fxFlex.gt-xs]="50" [fxFlex]="100">
    <mat-card class="bg-teal-500 text-white">
      <mat-card-title>
        <small class="text-muted">New User</small>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">4</h3>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- </div>

<div class="matero-row" fxLayout="row wrap"> -->
  <div class="matero-col" [fxFlex]="100">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Total Sales</small>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">5</h3>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- </div>

<div class="matero-row" fxLayout="row wrap"> -->
  <div class="matero-col" [fxFlex.gt-sm]="33.33" [fxFlex]="100">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Total Sales</small>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">6</h3>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Total Sales</small>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">7</h3>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Total Sales</small>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">8</h3>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matero-col" [fxFlex.gt-sm]="66.66" [fxFlex]="100">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Total Sales</small>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">9</h3>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Total Sales</small>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">10</h3>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>

    <div class="matero-row" fxLayout="row wrap">
      <div class="matero-col" [fxFlex.gt-xs]="50" [fxFlex]="100">
        <mat-card>
          <mat-card-title>
            <small class="text-muted">Total Sales</small>
          </mat-card-title>
          <mat-card-content>
            <h3 class="m-0 font-normal">11</h3>
            <small class="text-muted">Monthly</small>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="matero-col" [fxFlex.gt-xs]="50" [fxFlex]="100">
        <mat-card>
          <mat-card-title>
            <small class="text-muted">Total Sales</small>
          </mat-card-title>
          <mat-card-content>
            <h3 class="m-0 font-normal">12</h3>
            <small class="text-muted">Monthly</small>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
