.matero-page-header {
  display: block;
  padding: 1rem;
  margin: -1rem -1rem 1rem;
  color: #fff;
  background-color: #3f51b5;

  .matero-breadcrumb {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}

.matero-page-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}
