<ul appAccordion class="matero-sidenav">
  <li class="matero-sidenav-item" appAccordionLink *ngFor="let menuitem of menuService.getAll()"
    group="{{menuitem.state}}">
    <a appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'" matRipple>
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name }}</span>
      <span fxFlex></span>
      <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
    </a>
    <a appAccordionToggle href="{{menuitem.state}}" *ngIf="menuitem.type === 'extLink'" matRipple>
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name }}</span>
      <span fxFlex></span>
      <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
    </a>
    <a appAccordionToggle href="{{menuitem.state}}" target="_blank" *ngIf="menuitem.type === 'extTabLink'" matRipple>
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name }}</span>
      <span fxFlex></span>
      <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
    </a>
    <a appAccordionToggle href="javascript:;" *ngIf="menuitem.type === 'sub'" matRipple>
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name }}</span>
      <span fxFlex></span>
      <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
      <mat-icon class="menu-caret">arrow_drop_down</mat-icon>
    </a>
    <ul class="matero-sidenav sub-menu" *ngIf="menuitem.type === 'sub'">
      <li class="matero-sidenav-item" *ngFor="let childitem of menuitem.children" routerLinkActive="open">
        <a [routerLink]="['/', menuitem.state, childitem.state ]" matRipple>{{ childitem.name }}</a>
      </li>
    </ul>
  </li>
</ul>
