<ul appAccordion class="matero-sidemenu">
  <li class="matero-sidemenu-item" appAccordionLink *ngFor="let menuItem of menuService.getAll()"
    group="{{menuItem.state}}">
    <a appAccordionToggle [routerLink]="['/', menuItem.state]" *ngIf="menuItem.type === 'link'" matRipple>
      <mat-icon>{{ menuItem.icon }}</mat-icon>
      <span>{{ menuItem.name }}</span>
      <span fxFlex></span>
      <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuItem.badge">{{ badge.value }}</span>
    </a>
    <a appAccordionToggle href="{{menuItem.state}}" *ngIf="menuItem.type === 'extLink'" matRipple>
      <mat-icon>{{ menuItem.icon }}</mat-icon>
      <span>{{ menuItem.name }}</span>
      <span fxFlex></span>
      <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuItem.badge">{{ badge.value }}</span>
    </a>
    <a appAccordionToggle href="{{menuItem.state}}" target="_blank" *ngIf="menuItem.type === 'extTabLink'" matRipple>
      <mat-icon>{{ menuItem.icon }}</mat-icon>
      <span>{{ menuItem.name }}</span>
      <span fxFlex></span>
      <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuItem.badge">{{ badge.value }}</span>
    </a>
    <!-- level 1 -->
    <a appAccordionToggle href="javascript:;" *ngIf="menuItem.type === 'sub'" matRipple>
      <mat-icon>{{ menuItem.icon }}</mat-icon>
      <span>{{ menuItem.name }}</span>
      <span fxFlex></span>
      <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuItem.badge">{{ badge.value }}</span>
      <mat-icon class="menu-caret">arrow_drop_down</mat-icon>
    </a>
    <ul appAccordion class="matero-sidemenu submenu level-1" *ngIf="menuItem.type === 'sub'">
      <li class="matero-sidemenu-item" appAccordionLink *ngFor="let childItemLvl1 of menuItem.children"
        group="{{childItemLvl1.state}}" routerLinkActive="open">
        <a appAccordionToggle [routerLink]="['/', menuItem.state, childItemLvl1.state]"
          *ngIf="childItemLvl1.type === 'link'" matRipple>
          <span>{{ childItemLvl1.name }}</span>
        </a>
        <a appAccordionToggle href="{{childItemLvl1.state}}" *ngIf="childItemLvl1.type === 'extLink'" matRipple>
          <span>{{ childItemLvl1.name }}</span>
        </a>
        <a appAccordionToggle href="{{childItemLvl1.state}}" target="_blank" *ngIf="childItemLvl1.type === 'extTabLink'"
          matRipple>
          <span>{{ childItemLvl1.name }}</span>
        </a>
        <!-- level 2 -->
        <a appAccordionToggle href="javascript:;" *ngIf="childItemLvl1.type === 'sub'" matRipple>
          <span>{{ childItemLvl1.name }}</span>
          <span fxFlex></span>
          <mat-icon class="menu-caret">arrow_drop_down</mat-icon>
        </a>
        <ul class="matero-sidemenu submenu level-2" *ngIf="childItemLvl1.type === 'sub'">
          <li class="matero-sidemenu-item" *ngFor="let childItemLvl2 of childItemLvl1.children" routerLinkActive="open">
            <a [routerLink]="['/', menuItem.state, childItemLvl1.state, childItemLvl2.state ]"
              matRipple>{{ childItemLvl2.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
