<!-- Warning: Ripple effect make page flashing -->
<ul appAccordion class="matero-sidemenu">
  <li appAccordionLink class="matero-sidemenu-item" *ngFor="let menuItem of menuService.getAll()"
    group="{{menuItem.state}}" routerLinkActive="active">
    <a class="matero-sidemenu-link" [routerLink]="['/', menuItem.state]" *ngIf="menuItem.type === 'link'" matRipple>
      <mat-icon class="menu-icon">{{ menuItem.icon }}</mat-icon>
      <span class="menu-name">{{ menuItem.name }}</span>
      <span fxFlex></span>
      <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuItem.badge">{{ badge.value }}</span>
    </a>
    <a class="matero-sidemenu-link" href="{{menuItem.state}}" *ngIf="menuItem.type === 'extLink'" matRipple>
      <mat-icon class="menu-icon">{{ menuItem.icon }}</mat-icon>
      <span class="menu-name">{{ menuItem.name }}</span>
      <span fxFlex></span>
      <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuItem.badge">{{ badge.value }}</span>
    </a>
    <a class="matero-sidemenu-link" href="{{menuItem.state}}" target="_blank" *ngIf="menuItem.type === 'extTabLink'"
      matRipple>
      <mat-icon class="menu-icon">{{ menuItem.icon }}</mat-icon>
      <span class="menu-name">{{ menuItem.name }}</span>
      <span fxFlex></span>
      <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuItem.badge">{{ badge.value }}</span>
    </a>
    <!-- level 1 -->
    <a class="matero-sidemenu-toggle" appAccordionToggle href="javascript:;" *ngIf="menuItem.type === 'sub'" matRipple>
      <mat-icon class="menu-icon">{{ menuItem.icon }}</mat-icon>
      <span class="menu-name">{{ menuItem.name }}</span>
      <span fxFlex></span>
      <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuItem.badge">{{ badge.value }}</span>
      <mat-icon class="menu-caret">arrow_drop_down</mat-icon>
    </a>
    <ul appAccordion class="matero-sidemenu submenu level-1" *ngIf="menuItem.type === 'sub'">
      <li appAccordionLink class="matero-sidemenu-item" *ngFor="let childItemLvl1 of menuItem.children"
        group="{{childItemLvl1.state}}" routerLinkActive="active">
        <a class="matero-sidemenu-link" [routerLink]="['/', menuItem.state, childItemLvl1.state]"
          *ngIf="childItemLvl1.type === 'link'" matRipple>
          <span class="menu-name">{{ childItemLvl1.name }}</span>
        </a>
        <a class="matero-sidemenu-link" href="{{childItemLvl1.state}}" *ngIf="childItemLvl1.type === 'extLink'"
          matRipple>
          <span class="menu-name">{{ childItemLvl1.name }}</span>
        </a>
        <a class="matero-sidemenu-link" href="{{childItemLvl1.state}}" target="_blank"
          *ngIf="childItemLvl1.type === 'extTabLink'" matRipple>
          <span class="menu-name">{{ childItemLvl1.name }}</span>
        </a>
        <!-- level 2 -->
        <a class="matero-sidemenu-toggle" appAccordionToggle href="javascript:;" *ngIf="childItemLvl1.type === 'sub'"
          matRipple>
          <span class="menu-name">{{ childItemLvl1.name }}</span>
          <span fxFlex></span>
          <mat-icon class="menu-caret">arrow_drop_down</mat-icon>
        </a>
        <ul class="matero-sidemenu submenu level-2" *ngIf="childItemLvl1.type === 'sub'">
          <li class="matero-sidemenu-item" *ngFor="let childItemLvl2 of childItemLvl1.children"
            routerLinkActive="active">
            <a class="matero-sidemenu-link"
              [routerLink]="['/', menuItem.state, childItemLvl1.state, childItemLvl2.state ]" matRipple><span
                class="menu-name">{{ childItemLvl2.name }}</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
