@use '@angular/material' as mat;

html {
  color-scheme: <% if(layout==='dynamic' || theme==='auto' || theme==='light') { %>light<% } %><% else { %>dark<% } %>;

  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0
  ));
}
<% if(layout==='dynamic' || theme==='auto') { %>
.theme-dark {
  color-scheme: dark;
}<% } %>
