@use '@angular/material' as mat;
@use 'app-theme';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
<% if(layout==='dynamic' || theme==='light' || theme==='auto') { %>
//
// Light theme
//
$primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent
    ),
    typography: mat.m2-define-typography-config(),
    density: 0
  )
);
<% } %><% else if(theme==='dark') { %>
//
// Dark theme
//
$primary: mat.m2-define-palette(mat.$m2-blue-palette);
$accent: mat.m2-define-palette(mat.$m2-amber-palette, A200, A100, A400);
$theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent
    ),
    typography: mat.m2-define-typography-config(),
    density: 0
  )
);
<% } %>
@include app-theme.theme($theme);
<% if(layout==='dynamic' || theme==='auto') { %>
//
// Dark theme
//
.theme-dark {
  color-scheme: dark;

  $primary: mat.m2-define-palette(mat.$m2-blue-palette);
  $accent: mat.m2-define-palette(mat.$m2-amber-palette, A200, A100, A400);
  $theme: mat.m2-define-dark-theme(
    (
      color: (
        primary: $primary,
        accent: $accent
      ),
      typography: null,
      density: null
    )
  );

  @include app-theme.theme($theme);
}<% } %>
