$grid-columns: 12 !default;

$breakpoints: (
  xsmall: 0,
  small:  600px,
  medium: 960px,
  large:  1280px,
  xlarge: 1920px
) !default;

$breakpoint-infixs: (
  xsmall: '',
  small: 'sm',
  medium: 'md',
  large: 'lg',
  xlarge: 'xl'
) !default;
