<mat-toolbar class="matero-toolbar">
  <button mat-icon-button *ngIf="showToggle" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <app-branding *ngIf="showBranding"></app-branding>

  <span class="flex-fill"></span>

  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>

  <button mat-icon-button (click)="toggleFullscreen()">
    <mat-icon>fullscreen</mat-icon>
  </button>

  <app-notification></app-notification>

  <app-translate></app-translate>

  <app-user></app-user>

  <button mat-icon-button (click)="toggleSidenavNotice.emit()">
    <mat-icon>list</mat-icon>
  </button>
</mat-toolbar>
