<page-header class="bg-dark text-light" title="{{ 'profile' | translate }}" />

<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-3">
    <mat-card>
      <mat-card-content>
        <div class="text-center">
          <img class="m-b-8 r-full" [src]="user.avatar" alt="" width="80" />
          <h2 class="m-t-0 m-b-8 f-w-400">{{ user.name }}</h2>
          <p class="m-t-0 m-b-8">FE Developer, UE designer</p>
          <p class="m-t-0 text-grey-500">I like reading, writing and drawing.</p>

          <a mat-flat-button href="https://github.com/nzbin" target="_blank">Follow Me</a>
          <button mat-flat-button color="warn" class="m-l-8">Contact Me</button>
        </div>

        <mat-divider class="m-t-16 m-b-8" />

        <mat-nav-list>
          <a mat-list-item routerLink="/profile/overview">
            <mat-icon matListItemIcon>account_circle</mat-icon>
            {{ 'profile' | translate }}
          </a>
          <a mat-list-item routerLink="/profile/settings">
            <mat-icon matListItemIcon>edit</mat-icon>
            {{ 'edit_profile' | translate }}
          </a>
          <a mat-list-item (click)="logout()" (keydown.enter)="logout()" tabindex="0">
            <mat-icon matListItemIcon>exit_to_app</mat-icon>
            {{ 'logout' | translate }}
          </a>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-8 col-md-8 col-lg-9">
    <router-outlet />
  </div>
</div>
