.customizer-handle {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}

.customizer-panel {
  position: fixed;
  top: 0;
  right: -320px;
  bottom: 0;
  z-index: 11;
  width: 320px;
  padding: 0 16px;
  box-sizing: border-box;
  background-color: #fff;
  transform: translateX(0);
  transition: transform .3s ease-in-out;
  overflow: auto;

  &.opened {
    transform: translateX(-100%);
  }
}

.customizer-panel-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.25, .8, .25, 1);
  transition-property: background-color, visibility;
  visibility: hidden;

  &.opened {
    background-color: rgba(0, 0, 0, .15);
    visibility: visible;
  }
}
