<% if(layout==='static' && nav==='side') { %><div
     class="matero-container-wrap matero-header-fixed <% if(theme==='light') { %>matero-header-white<% } %>"
     dir="<%= dir %>"
     [ngClass]="{'matero-sidenav-collapsed': options.sidenavCollapsed}">
  <ng-progress></ng-progress>

  <mat-sidenav-container class="matero-container" autosize autoFocus>
    <mat-sidenav #sidenav class="matero-sidenav"
                 [mode]="isOver ? 'over' : 'side'"
                 [opened]="options.sidenavOpened && !isOver"
                 (openedChange)="sidenavOpenedChange($event)"
                 (closedStart)="sidenavCloseStart()">
      <app-sidebar (toggleCollapsed)="toggleCollapsed()"
                   [toggleChecked]="options.sidenavCollapsed"
                   [showToggle]="!isOver">
      </app-sidebar>
    </mat-sidenav>

    <mat-sidenav #sidenavNotice position="end" mode="over" opened="false">
      <app-sidebar-notice></app-sidebar-notice>
    </mat-sidenav>

    <mat-sidenav-content class="matero-content-wrap" #content>
      <app-header #header class="matero-header"
                  (toggleSidenav)="sidenav.toggle()"
                  (toggleSidenavNotice)="sidenavNotice.toggle()"
                  [showToggle]="!options.sidenavCollapsed">
      </app-header>

      <div class="matero-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div><% } %><% if(layout==='static' && nav==='top') { %><div
     class="matero-container-wrap matero-navbar-top matero-header-fixed <% if(theme==='light') { %>matero-header-white<% } %>"
     dir="<%= dir %>">
  <ng-progress></ng-progress>

  <mat-sidenav-container class="matero-container" autosize autoFocus>

    <mat-sidenav #sidenavNotice position="end" mode="over" opened="false">
      <app-sidebar-notice></app-sidebar-notice>
    </mat-sidenav>

    <mat-sidenav-content class="matero-content-wrap" #content>
      <app-header #header class="matero-header"
                  (toggleSidenavNotice)="sidenavNotice.toggle()"
                  [showToggle]="false"
                  [showBranding]="true">
      </app-header>

      <app-topmenu class="matero-topmenu"></app-topmenu>

      <div class="matero-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div><% } %><% if(layout==='dynamic') { %><div class="matero-container-wrap" [dir]="options.dir"
     [ngClass]="{
  'matero-sidenav-collapsed': options.sidenavCollapsed && options.navPos!=='top',
  'matero-navbar-top': options.navPos==='top',
  'matero-header-above': options.headerPos==='above',
  'matero-header-fixed': options.headerPos==='fixed',
  'matero-header-white': options.theme==='light'}">
  <ng-progress></ng-progress>

  <!-- Header Above -->
  <app-header #header class="matero-header"
              *ngIf="options.showHeader && options.headerPos==='above'"
              (toggleSidenav)="sidenav.toggle()"
              (toggleSidenavNotice)="sidenavNotice.toggle()"
              [showBranding]="true">
  </app-header>

  <mat-sidenav-container class="matero-container" autosize autoFocus>
    <mat-sidenav #sidenav class="matero-sidenav"
                 [mode]="isOver ? 'over' : 'side'"
                 [opened]="options.navPos==='side' && options.sidenavOpened && !isOver"
                 (openedChange)="sidenavOpenedChange($event)"
                 (closedStart)="sidenavCloseStart()">
      <app-sidebar (toggleCollapsed)="toggleCollapsed()"
                   [toggleChecked]="options.sidenavCollapsed"
                   [showToggle]="!isOver"
                   [showUser]="options.showUserPanel"
                   [showHeader]="options.headerPos!=='above'">
      </app-sidebar>
    </mat-sidenav>

    <mat-sidenav #sidenavNotice position="end" mode="over" opened="false">
      <app-sidebar-notice></app-sidebar-notice>
    </mat-sidenav>

    <mat-sidenav-content class="matero-content-wrap" #content>
      <app-header #header class="matero-header"
                  *ngIf="options.showHeader && options.headerPos!=='above'"
                  (toggleSidenav)="sidenav.toggle()"
                  (toggleSidenavNotice)="sidenavNotice.toggle()"
                  [showToggle]="!options.sidenavCollapsed && options.navPos!=='top'"
                  [showBranding]="options.navPos==='top'">
      </app-header>

      <app-topmenu class="matero-topmenu" *ngIf="options.navPos==='top'"></app-topmenu>

      <div class="matero-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div><% } %>