// ----------------------------------------------------------------------------
// BASE
// ----------------------------------------------------------------------------

html,
body {
  height: 100%;
  min-height: 100%;
  line-height: normal;
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
