// ==================================================
// Branding
// ==================================================

.matero-branding {
  color: inherit;
  white-space: nowrap;

  .matero-branding-logo-expanded {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;

    [dir='rtl'] & {
      margin-left: 10px;
      margin-right: auto;
    }
  }

  .matero-branding-name {
    font-weight: normal;
    vertical-align: middle;
  }
}
