$mediumgray: #6e6e6e;
$darkgray: #333;

body::-webkit-scrollbar,
.matero-sidemenu-wrap::-webkit-scrollbar,
.mat-sidenav-content::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

body::-webkit-scrollbar-track,
.matero-sidemenu-wrap::-webkit-scrollbar-track,
.mat-sidenav-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb,
.matero-sidemenu-wrap::-webkit-scrollbar-thumb,
.mat-sidenav-content::-webkit-scrollbar-thumb {
  background-color: $mediumgray;
//   outline: 1px solid $darkgray;
}
