// ----------------------------------------------------------------------------
// SIDENAV
// ----------------------------------------------------------------------------

.matero-sidenav {
  position: absolute;
  overflow-x: hidden;
  width: $sidenav-width;
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  border-width: 0;
  transition: width .4s cubic-bezier(.25, .8, .25, 1); // Only set width property


  .matero-sidebar-inner {
    width: $sidenav-width;
    height: calc(100% - 64px);
    overflow: auto;
  }

  .matero-sidemenu {
    margin: 0;
    padding: 0;
    list-style: none;

    &.submenu {
      max-height: 0;
      padding-top: 0;
      overflow: hidden;
      transform: translateZ(0) !important;
      transition: max-height .4s cubic-bezier(.35, 0, .25, 1);

      .matero-sidemenu-item {
        border-left-width: 0;
      }
    }

    &.level-1 a {
      padding-left: 50px;
    }

    &.level-2 a {
      padding-left: 64px;
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 48px;
      padding: 0 16px;
      text-decoration: none;
      color: rgba(0, 0, 0, .87);
    }

    .menu-icon {
      width: 18px;
      height: 18px;
      margin-right: 16px;
      font-size: 18px;
      line-height: 18px;
    }

    .menu-name,
    .menu-badge {
      transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
    }

    .menu-caret {
      display: block;
      float: right;
      margin-left: 0.3125rem;
      text-align: center;
      transition: transform .3s cubic-bezier(.7, 0, .3, 1);
    }

    .open>.matero-sidemenu-toggle>.menu-caret {
      transform: rotate(-180deg);
    }

    .menu-badge {
      display: inline-block;
      min-width: 10px;
      padding: 3px 4px;
      line-height: 1.25;
      text-align: center;
      border-radius: 16px;
      font-size: 10px;
      font-weight: 700;
      color: #fff;
    }

    .menu-label {
      display: inline;
      padding: 3px 4px;
      margin-left: 5px;
      line-height: 1;
      vertical-align: baseline;
      border-radius: .25em;
      font-size: 75%;
      color: #fff;
      font-weight: 500;
      text-align: center;
      white-space: nowrap;
    }
  }

  .matero-sidemenu-item {
    display: block;
    height: auto;
    padding: 0;

    &:hover {
      background: $sidenav-item-hover;
    }

    &.open {
      background: rgba(0, 0, 0, .02);

      >.matero-sidemenu {
        max-height: 2000px;
      }
    }

    &.active {
      box-shadow: 3px 0 0 0 $sidenav-item-active inset;

      >a {
        color: $sidenav-item-active
      }
    }
  }
}

// collapsed sidenav
.matero-sidenav-collapsed {
  .matero-sidenav {
    width: $sidenav-collapsed-width;

    &:hover {
      width: $sidenav-width;

      .menu-name,
      .menu-badge,
      .menu-caret {
        opacity: 1;
      }
    }

    .menu-name,
    .menu-badge,
    .menu-caret {
      opacity: 0;
    }
  }

  .matero-content {
    margin-left: $sidenav-collapsed-width !important;
  }
}

// fix initial toggle animation issue
// .mat-sidenav-content {
//   transition: margin-left .4s cubic-bezier(.25, .8, .25, 1);
// }

// branding
.matero-branding {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0 10px;
  height: 64px;
  line-height: 64px;
  color: #444;
  background: #fff;
  overflow: hidden;
  transition: all .3s cubic-bezier(.35, 0, .25, 1);

  .matero-branding-logo-expanded {
    height: 30px;
    margin-right: 10px;
  }
}
