// ----------------------------------------------------------------------------
// SIDENAV
// ----------------------------------------------------------------------------
$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile-portrait: 56px !default;
$mat-toolbar-height-mobile-landscape: 48px !default;

.matero-sidenav {
  position: absolute;
  overflow-x: hidden;
  width: $sidenav-width;
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  border-width: 0;
  transition: width .4s cubic-bezier(.25, .8, .25, 1); // Only set width property


  .matero-sidemenu-wrap {
    width: $sidenav-width;
    height: calc(100% - 64px);
    overflow: auto;
  }

  .matero-sidemenu {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .matero-sidemenu-item {
    display: block;
    height: auto;
    padding: 0;

    &:hover {
      background: mat-color($background, "hover");
    }
  }

  .matero-sidemenu-item.open {
    background: rgba(0, 0, 0, .02);

    >.matero-sidemenu {
      max-height: 2000px;
      background: rgba(0, 0, 0, .05);
    }
  }

  .matero-sidemenu.submenu {
    max-height: 0;
    padding-top: 0;
    overflow: hidden;
    transform: translateZ(0) !important;
    transition: max-height .4s cubic-bezier(.35, 0, .25, 1);

    a {
      padding-left: 50px;
    }
  }

  .matero-sidemenu a {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    padding: 0 16px;
    text-decoration: none;
    color: rgba(0, 0, 0, .87);
  }

  .matero-sidemenu {
    .menu-icon {
      width: 18px;
      height: 18px;
      margin-right: 16px;
      font-size: 18px;
      line-height: 18px;
    }

    .menu-name,
    .menu-badge {
      transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
    }

    .menu-caret {
      display: block;
      float: right;
      margin-left: 0.3125rem;
      text-align: center;
      transition: transform .3s cubic-bezier(.7, 0, .3, 1);
    }

    .open>[appAccordionToggle]>.menu-caret {
      transform: rotate(-180deg);
    }

    .menu-badge {
      display: inline-block;
      height: 16px;
      min-width: 10px;
      line-height: 18px;
      text-align: center;
      border-radius: 16px;
      font-size: 10px;
      font-weight: 700;
      padding: 0 4px;
    }
  }
}

// collapsed sidenav
.matero-sidenav-collapsed {
  .matero-sidenav {
    width: $sidenav-collapsed-width;

    &:hover {
      width: $sidenav-width;

      .menu-name,
      .menu-badge,
      .menu-caret {
        opacity: 1;
      }
    }

    .menu-name,
    .menu-badge,
    .menu-caret {
      opacity: 0;
    }
  }

  .matero-content {
    margin-left: $sidenav-collapsed-width !important;
  }
}

// fix initial toggle animation issue
// .mat-sidenav-content {
//   transition: margin-left .4s cubic-bezier(.25, .8, .25, 1);
// }

// branding
.matero-branding {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0 10px;
  height: 64px;
  line-height: 64px;
  color: #444;
  background: #fff;
  overflow: hidden;
  transition: all .3s cubic-bezier(.35, 0, .25, 1);

  .matero-branding-logo-expanded {
    height: 30px;
    margin-right: 10px;
  }
}
