// ==================================================
// TOPNAV
// ==================================================

.matero-topmenu {
  display: block;
  position: sticky;
  z-index: 3;
  background: #fff;
  color: rgba(0, 0, 0, .76);
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.matero-topmenu-inner {
  padding: 8px;
  white-space: nowrap;
}

// Layout control
.matero-navbar-top {
  .matero-topmenu {
    top: 0;
  }
}

.matero-header-fixed {
  .matero-topmenu {
    top: $topmenu-sticky-position-desktop;
  }
}

@media (max-width: 599px) {
  .matero-header-fixed {
    .matero-topmenu {
      top: $topmenu-sticky-position-mobile;
    }
  }
}
