// ==================================================
// TOPNAV
// ==================================================

.matero-topmenu {
  display: block;
  position: sticky;
  z-index: 3;
  background: #fff;
  color: rgba(0, 0, 0, .76);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  @include mat-elevation(2);
}

.matero-topmenu-inner {
  padding: 8px;
  white-space: nowrap;
}

// Layout control
.matero-navbar-top {
  .matero-topmenu {
    top: 0;
  }
}

.matero-header-fixed {
  .matero-topmenu {
    top: $topmenu-sticky-position-desktop;
  }
}

@include bp-lt(tiny) {
  .matero-header-fixed {
    .matero-topmenu {
      top: $topmenu-sticky-position-mobile;
    }
  }
}
