// ----------------------------------------------------------------------------
// USER PANEL
// ----------------------------------------------------------------------------

.matero-user-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.matero-user-panel-avatar {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  vertical-align: middle;
  transition: transform .4s cubic-bezier(.25, .8, .25, 1);
}

.matero-user-panel-name,
.matero-user-panel-email,
.matero-user-panel-icons {
  opacity: 1;
  transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
}

.matero-user-panel-name,
.matero-user-panel-email {
  font-weight: 400;
  margin: 0;
}

.matero-user-panel-icons {
  white-space: nowrap;

  .mat-icon-button {
    width: 24px;
    height: 24px;
    line-height: 24px;

    .mat-icon {
      width: 18px;
      height: 18px;
      font-size: 18px;
      line-height: 18px;
    }
  }
}
