.matero-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 1rem;
  font-size: .875rem;
  list-style: none;
}

.matero-breadcrumb-item {
  line-height: 18px;
  text-transform: capitalize;

  > * {
    vertical-align: middle;
  }

  > a.link {
    color: currentColor;
    text-decoration: none;

    &:hover {
      color: currentColor;
      text-decoration: underline;
    }
  }

  > .chevron {
    width: 18px;
    height: 18px;
    font-size: 18px;
    user-select: none;
  }
}
