@import '../style/variables';

@mixin matero-sidenav-theme($theme) {
  $background: mat-color($theme, 'background');
  $foreground: mat-color($theme, 'foreground');

  .matero-sidemenu {
    a {
      color: mat-color($foreground, text);
    }

    .matero-sidemenu-item {
      &:hover {
        background: mat-color($background, hover);
      }

      &.open {
        background: rgba(0, 0, 0, .02);
      }

      &.active {
        > a {
          color: mat-color(map-get($theme, accent));
        }
      }
    }
  }

  .matero-sidebar-header {
    color: mat-color($foreground, text);
    background: mat-color($background, app-bar);
    border-bottom: 1px solid $boder-color;
  }
}
