<div class="matero-user-panel">
  <img class="matero-user-panel-avatar m-b-8" src="assets/images/avatar.jpg" alt="">
  <h4 class="matero-user-panel-name m-b-8">Zongbin</h4>
  <h5 class="matero-user-panel-email m-b-8">nzb329@163.com</h5>
  <div class="matero-user-panel-icons">
    <a href="#" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </a>
    <a href="#" mat-icon-button>
      <mat-icon>settings</mat-icon>
    </a>
    <a href="#" mat-icon-button>
      <mat-icon>exit_to_app</mat-icon>
    </a>
  </div>
</div>
