<page-header class="bg-green-500"></page-header>

<div class="matero-table-container mat-elevation-z1">
  <table mat-table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

    <ng-container *ngFor="let col of columns.slice(0,-1)">
      <ng-container [matColumnDef]="col.index"
                    [sticky]="col.fixed==='left'"
                    [stickyEnd]="col.fixed==='right'">
        <th mat-header-cell *matHeaderCellDef> {{col.title}} </th>
        <td mat-cell *matCellDef="let element"> {{element[col.index]}} </td>
      </ng-container>
    </ng-container>

    <!-- Options column -->
    <ng-container matColumnDef="options" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>Options</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="edit(element)">
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>