.matero-table-container {
  max-width: 100%;
  overflow: auto;
}

.mat-header-cell,
.mat-footer-cell,
.mat-cell {
  min-width: 80px;
  padding: 0 16px;
  box-sizing: border-box;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}
